In [1]:
#Write a Python that takes two lists and returns True if they have at least one common member.
def common(l1,l2):
    flag = False
    for k in l1:
        if (k in l2):
            flag = True
        else:
            pass
    return flag

list1=int(input("enter the number of elements in the list1: "))
list2=int(input("enter the number of elements in the list2: "))
l1=[]
for i in range(list1):
    a=str(input("enter the strings you want l1: "))
    l1.append(a)
print("The entered list1 is: ",l1)
l2=[]
for j in range(list2):
    b=str(input("enter the strings you want l2: "))
    l2.append(b)
print("The entered list2 is: ",l2)
result = common(l1,l2)
print(result)

enter the number of elements in the list1: 3
enter the number of elements in the list2: 3
enter the strings you want l1: mom
enter the strings you want l1: dad
enter the strings you want l1: aakash
The entered list1 is:  ['mom', 'dad', 'aakash']
enter the strings you want l2: boss
enter the strings you want l2: don
enter the strings you want l2: sister
The entered list2 is:  ['boss', 'don', 'sister']
False

In [3]:
#Write a Python program to convert a list of characters into a string
d=["I'm","robo2.o","2gb ram","10ghz"]
e=d[0] + ' '+ d[1] + ' ' + d[2] + ' ' +d[3]
print(e)

I'm robo2.o 2gb ram 10ghz

In [4]:
#Program to put even and odd elements in a list into two different lists
l=[1,2,3,4,5,6,7,8,9,0]
l1=[]
l2=[]
for i in l:
    if i%2==0:
        l1.append(i)
    else:
        l2.append(i)
print("Your even numbers list is -->",l1)
print("Your odd numbers list is -->",l2)

Your even numbers list is --> [2, 4, 6, 8, 0]
Your odd numbers list is --> [1, 3, 5, 7, 9]

In [5]:
#Write a Python program to remove duplicates from a list
l=[1,2,3,4,5,6,7,4,3,2,1]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

4 3 2 1

In [6]:
#Write a Python program to check a list is empty or not.
b=[1,2,34]
c=len(b)
print(c)
if c==0:
    print('Given List is empty')
else:
    print('Given List is not empty')

3
Given List is not empty

In [7]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
l=[0,1,2,3,4,5,6,7.8]
del l[0]
del l[4]
del l[5] 
print('The specified list is:-',l)

The specified list is:- [1, 2, 3, 4, 6]

In [8]:
#Write a program to remove duplicates and print tuple except last value
t=("a","b","c","c")
t1=[]
for i in t:
    if i not in t1:
        t1.append(i)
tuple(t1[:-1])

('a', 'b')

In [9]:
#write a program to replace element by given element
a=("south","north","east","west","ini","india lu lev","undi okate pakistan")
b=list(a)
b[6]='undi okate india'
tuple(b)

('south', 'north', 'east', 'west', 'ini', 'india lu lev', 'undi okate india')